.course-container {
    width: 100%;
    display: flex;

    .sidebar {
        width: 270px;
        height: 100vh;
        background: #1ca366;
    }

    .course-body {
        width: calc(100% - 270px);
        display: flex;
    }
}